---
import { getCollection } from "astro:content";
import { Image, getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Slider from "../components/Slider.astro";

export async function getStaticPaths() {
    const pages = await getCollection("page");
    return pages.map((page) => ({
        params: { page: page.slug },
        props: { page },
    }));
}

const { page } = Astro.props;
const { Content } = await page.render();

const optimizedShareImage = await getImage({
    src: page.data.share_image,
    width: 1200,
    format: "jpg",
});

const share_image = Astro.url.origin + optimizedShareImage.src;

// TODO const tag  from page.data.tags to use as a filter
// TODO add prop for page.data.collection to reference 'art' or another folder (default to art)
// TODO const collection and reference in filter to get an array of name, collection to use in slider prop as "posts"!

const collection = page.data.collection || "art";
const tag = page.data.tag || null;

const posts = await getCollection(collection, ({ data }) => {
    // console.log(data);
    // const filteredPosts = data.filter((post) => checkTags(post.data.tags, tag));
    // return filteredPosts;
});

// console.log(posts);

function checkTags(array, value) {
    return array.some((arrayValue) => value === arrayValue);
}
// const filteredPosts = posts.filter((post) => checkTags(post.data.tags, tag));
---

<Layout
    title={page.data.title}
    description={page.data.description}
    share_image={share_image}
>
    <article class="page">
        <h1 class="page-title">
            {
                page.data.title_image ? (
                    <Image
                        src={page.data.title_image}
                        alt={page.data.title}
                        class="page-title"
                        height="120"
                        densities={[2, 3]}
                        loading="eager"
                        quality="max"
                    />
                ) : (
                    page.data.title
                )
            }
        </h1>

        {
            page.data.selected_artworks && (
                <Slider
                    posts={page.data.selected_artworks}
                    class="selected-artworks"
                />
            )
        }
        <div class="content">
            <Content />
        </div>
    </article>
</Layout>

<style lang="scss">
    @use "../styles/base/vars" as *;

    .page {
        width: 100%;
        &-title {
            padding: 0 var(--padding-x);
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            img {
                height: 1.888em;
                width: auto;
                padding: 0.5em 0 0;
            }
        }
    }

    .content {
        padding: 0 var(--padding-x);
    }
</style>
