---
// Homepage layout

import Layout from '../layouts/Layout.astro';
import Artwork from '../components/Artwork.astro';
import Slider from '../components/Slider.astro';
import { getEntry, getCollection, getEntries } from 'astro:content';


const home = await getEntry('page', 'home');
const { Content } = await home.render();
---

<Layout title={home.data.title} description={home.data.description}, share_image={home.data.share_image}>
	<main class="site home">
		<div class="featured-image">
            
			{home.data.featured_image && <Artwork
                id={home.data.featured_image}
                collection="art"
			/>}
		</div>
		<div class="content">
			<Content />
            
            {home.data.selected_artworks && <Slider posts={home.data.selected_artworks} />}
		</div>
	</main>
</Layout>

<style lang="scss">

	@use "../styles/base/vars" as *;

	.site{
		text-align: center;
	}

	.featured-image{
		padding: 0 1.5rem;
        max-height: 70vh;
        width: fit-content;
        margin: 0 auto;
	}

	.content{
		text-align: center; 
	}

</style>