---
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';

// identify properties that will be passed to this component
interface Props {
    id: string;
    collection: keyof import('astro:content').DataEntryMap;
}
const { id, collection } = Astro.props as Props;


// guard getEntry so missing entries don't break the page
let artEntry = null;
try {
    artEntry = await getEntry(collection, id);
} catch (err) {
    console.warn(`Artwork entry not found: ${collection}/${id}`);
}

// console.log(id);
---

{artEntry && (
    <a class="artwork" href={`/${artEntry.collection}/${artEntry.slug}`} data-is-feed-link>
        <figure>
            <Image
                src={artEntry.data.imagePath}
                alt={artEntry.data.altText}
                loading="lazy"
                class="art-img"
                widths={[400, 800, 1200]}
                sizes="(max-width: 600px) 100vw, (max-width: 1200px) 50vw, 33vw"
            />
            <figcaption>
                <h3 class="title">{artEntry.data.title}</h3>
                <small class="date">{artEntry.data.date}</small>
            </figcaption>
        </figure>
    </a>
)}


<style lang="scss">

    @use "../styles/base/vars" as *;

 
    .artwork{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        margin: 0 auto;
        text-decoration: none;
        
         @media screen and (min-width: 850px){
            //width: 691px;
            // width: 50%;
        }

        // TODO figure out height responsiveness
        // min-height: 75vh;
        // max-height: 80vh;


    }
    figure{
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        height: 100%;

        flex-grow: 1;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        // TODO possibly refactor as class prop for homepage
        
        @media(hover: hover) and (pointer: fine) {
            &:hover{
                figcaption{
                    opacity: 1;
                }
            }
        }
    }

    img{
        display: block;
        object-fit: contain;
        width: 100%;
        height: auto;
        max-height: 100%;
        max-width: 100%;
        flex-grow: 1;
    }

    figcaption{
        flex-shrink: 1;
        margin-top: 0.5rem;
        align-self: flex-start;
        text-align: left;
        opacity: 0;
        transition: all .3s .1s ease-in-out;
        .title {
            margin: 0;
            line-height: 100%;
        }
        .date {
            margin: 0;

        }
    }

</style>